<app-maincontent title="Transaction List">
  <div class="table-full-width table-responsive">
    <table class="table tablesorter text-left">
      <thead class="text-primary text-left">
        <tr>
          <th>Amount</th>
          <th>Type Of Transaction</th>
          <th>Transaction Date</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let transaction of transactions">
          <td>{{ transaction.amount }}</td>
          <td>{{ transaction.typeOfTransaction }}</td>
          <td>{{ transaction.transactionDate }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</app-maincontent>
